# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
*.expo

# Metro
.metro-health-check*

# Native builds
ios/Pods/
ios/build/
android/.gradle/
android/build/
android/app/build/

# Expo generated native folders (do not commit when using Expo Go)
ios/
android/

# Temporary recover folder
.git_broken_backup/
TT_BACKUP_*.tgz

# Secrets / Keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
.env*.local

# OS / Editor
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
